<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>686651475032-ghtpst9teanms65e51i92er7vt2us62v.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>686651475032-jlqg2bsuh9uiimh87v802h775iaeo8c9.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktok</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.686651475032-ghtpst9teanms65e51i92er7vt2us62v</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
